.custom-button {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition-duration: 0.2s;
  font-weight: 500;
}

.landing{
  font-size: 1.75rem;
}

.dark {
  border: 0.125rem solid #343a40;
  color: #343a40;
}

.dark:hover{
  color: white;
  background-color: #343a40;
}

.light {
  border: 0.125rem solid white;
  color: white;
}

.light:hover {
  background-color: white;
  color: #343a40;
}

.thin{
  border: 0.06rem solid #343a40;
  font-weight: 400;
  font-size: 1.3rem;
}

.span {
  width: 100%;
}

.disabled{
  opacity: 0.3;
}

.disabled:hover{
  cursor: not-allowed;
}
