.candidate-meeting a:hover{
    text-decoration: none;
    color: black;
}

.candidate-meeting a{
    color: black;
}

.icon-hover svg:hover{
    cursor: pointer;
}

.card-hover:hover{
    cursor: pointer;
}

.float-hover{
    animation: down-bump 0.4s ease;
}

.float-hover:hover{
    animation: up-bump 0.4s ease;
}