.candidate-meeting a:hover{
    text-decoration: none;
    color: black;
}

.candidate-meeting a{
    color: black;
}

.icon-hover svg:hover{
    cursor: pointer;
}

.card-hover:hover{
    cursor: pointer;
}