.login-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  transition-duration: 0.2s;
  font-weight: 500;
}

.login-button:hover {
  color: #242526;
  background-color: white;
}

.display-none{
  display: none;
}

.header-brand:hover{
  cursor: pointer;
}
