.greeting {
  /*padding: 15.625rem 0rem 18.75rem 6.25rem;*/
  font-size: 5vw;
  text-align: center;
}

.greeting a:hover {
  text-decoration: none;
}

.greeting h4{
  font-size: 2vw;
}

.button:hover{
  color: white;
  background-color: #242526;
}

.descriptions h3, h4{
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .greeting {
    /*padding: 15.625rem 0rem 18.75rem 6.25rem;*/
    font-size: 11.5vw;
    text-align: center;
  }

  .greeting h4{
    font-size: 5vw;
  }

  .custom-button{
    font-size: 4vw;
    margin-top: 0.5rem
  }
}