.greeting {
  /*padding: 15.625rem 0rem 18.75rem 6.25rem;*/
  padding-top: 15rem;
  font-size: 6rem;
}

.greeting a:hover {
  text-decoration: none;
}

.greeting h4{
  font-size: .33em;
}

.button:hover{
  color: white;
  background-color: #242526;
}

.descriptions h3, h4{
  font-weight: 500;
}
